{% extends "base.html" %}
{% block content %}
<header class="bg-grey">
    <img !class="img-responsive img-center" src="/theme/images/logilab-header.png"
         alt="Logilab met le Web et la gestion de Données au service des sciences">
</header>
<div class="row">
<div class="12u">

    {% for category, articles in categories|sort %}
    <section>
      <h2>{{ category }}</h2>
        {% for article in articles %}
            {% if loop.index0 % 3  == 0 %}
            <div class="row">
            {% endif %}
                <div class="4u">
                    <section class="box">
                        {% if article.picture is defined %}
                        <a href="{{ SITEURL }}/{{ article.url }}" class="image image-full"><img src="{{ SITEURL }}/{{ article.picture }}" alt=""/></a>
                        {% endif %}
                        <header>
                            <h3><a href="{{ SITEURL }}/{{ article.url }}" >{{article.title }}</a></h3>
                            <span class="byline">{{ article.date }}</span>
                        </header>
                        {{ article.summary }}
                        <footer class="actions">
                            <a href="{{ SITEURL }}/{{ article.url }}" class="button button-icon button-icon-1">Lire la suite</a>
                        </footer>
                    </section>
                </div>
            {% if loop.index % 3  == 0 %}
            </div>
            {% endif %}

        {% endfor %}
    </section><!-- /#content -->
    {% endfor %}

        {% if DEFAULT_PAGINATION %}
            <p class="paginator">
                {% if articles_page.has_previous() %}
                    {% if articles_page.previous_page_number() == 1 %}
                        <a href="{{ SITEURL }}/{{ page_name }}.html">&laquo;</a>
                    {% else %}
                        <a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.previous_page_number() }}.html">&laquo;</a>
                    {% endif %}
                {% endif %}
                Page {{ articles_page.number }} / {{ articles_paginator.num_pages }}
                {% if articles_page.has_next() %}
                    <a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html">&raquo;</a>
                {% endif %}
            </p>
        {% endif %}
</div>
</div>
{% endblock content %}
